<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth">
			<section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="UpdateUrl" value="http://ninja.co.nz/malone/releases" />
		<add key="IsCanary" value="false" />
		<add key="GitHubPersonalAccessToken" value="" />
	</appSettings>
	<system.net>
		<defaultProxy useDefaultCredentials="true" />
	</system.net>
	<dotNetOpenAuth>
		<messaging relaxSslRequirements="true" />
	</dotNetOpenAuth>
</configuration>